<div class="jumbotron">
  <h1 class="display-4">Do Th!s</h1>
  <p class="lead">Very simple Task management Application!</p>
  <hr class="my-4">
  <div class="container">
    <ul class="list-unstyled">
      <li>Powered by Ruby on Rails 5.2</li>
      <li>Utilizing Ruby 2.4</li>
      <li>Implemented 'Task Complete' Feature</li>
      <li>simple registration process</li>
      <li>multi-user tell your friends!</li>
    </ul>
    <p class="lead">
      <%= link_to 'Register', new_user_registration_path, class: "btn btn-danger" %>
    </p>
  </div>
</div>
