<!-- Checks to see if a user is signed in, if one is, it will list its checklist. -->
<!-- If not, it will render the landing page that asks the user to sign up or login. -->
<% if user_signed_in? %>
  <div class="col-md-10 col-md-offset-1">
    <% @tasks.each do |task| %>
      <div class="index-wrapper">
        <% if task.completed? %>
          <%= render 'completed' %>
        <% else %>
          <%= render 'incomplete' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'welcome_page' %>
<% end %>
